<ul class="nav nav-tabs">
  <li role="presentation" >
    <%= link_to 'Home', root_path, class: 'button' %>
  </li>
  <li role="presentation">
    <%= link_to 'New Observation', new_observation_path, class: 'button' %>
  </li>
  <li role="presentation" class="active">
    <%= link_to 'All observations', observations_path, class: 'button' %>
  </li>
  <%= render :partial => "admin_nav" if user_signed_in? %>
</ul>
