<div class='container-fluid'>
  <p id="notice"><%= notice %></p>
  <div class='title'>
    <h1>Welcome to the Mapping Lighting Project</h1>
  </div>
  <h3>Centre of Astrophysics and Supercomputing</h3>
  <%= render :partial => "nav"%>
</div>

