<%= render :partial => "nav"%>
<div class="container-fluid"
  <p id="notice"><%= notice %></p>
  <div class='title'>
    <h1>Welcome to the Mapping Lighting Project</h1>
  </div>
  <h4>Centre of Astrophysics and Supercomputing</h3>
  <div class='placeholder-image'>
    <h2>Placeholder image!</h2>
  </div>
</div>

