

  <p id="notice"><%= notice %></p>
  <div class='title'>
    <h1>Welcome to the Mapping Lighting Project</h1>
  </div>
  <h4>Centre of Astrophysics and Supercomputing</h4>
  <div>

    <p>
    Get started by <%= link_to 'exploring the observations', observations_path %>, or
    <%= link_to 'recording your own observation', new_observation_path %>.



    </p>
  </div>

