
  <div class='landing'>
        <!-- Call to Action Section -->
        <div class="col-lg-12">
          <h1 class="title">
              Welcome to the Mapping Lighting Project
          </h1>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome to the Mapping Lighting project for the Centre of Astrophysics and Supercomputing, Swinburne! Get familar with our purpose and how to contribute, or just jump straight in and record some observations!</p>
                </div>
                <div class="col-md-4">
                    <%= link_to '<button type="button" class="btn btn-lg btn-default btn-block">Create an observation!</button>'.html_safe, new_observation_path %>
                </div>
            </div>
        </div>
        <div id='toggle'>
          <div id='how-do-I-start' class='content'>
            <a href="#" onclick="closeAll('content');" class="btn btn-default btn-block">Click here to close</a>
            <img src="/images/how_do_i_start_wide.png" alt="How do I start" class="img-responsive">
            <a href="#" onclick="closeAll('content');" class="btn btn-default btn-block">Click here to close</a>
          </div>
          <div id='how-is-this-used' class='content'>
            <a href="#" onclick="closeAll('content');" class="btn btn-default btn-block">Click here to close</a>
            <img src="/images/how_is_this_used_wide.png" alt="How is this used" class="img-responsive">
            <a href="#" onclick="closeAll('content');" class="btn btn-default btn-block">Click here to close</a>
          </div>
          </div>
        </div>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Recent crowd-sourced observations</h4>
                </div>
                <div class="panel-body">
                    <p>Want to get an idea of the types of lights people are uploading? </p>
                    <%= link_to '<button type="button" class="btn-red btn btn-lg btn-default btn-block">View  observations</button>'.html_safe, observations_path %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>How do I start?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Getting involved in the mapping-lighting project today! All you need is a phone with a camera that can connect to the internet to upload your image.</p> <p>Click the button below to see more on this process.</p>
                        <a href="#" onclick="toggleVisibility('how-do-I-start');" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>How might this information be used?</h4>
                    </div>
                    <div class="panel-body">
                        <p>The mapping-lighting project was developed as a prototype to allow organisations track the location and impact of artificial lighting on society and the environment.</p>
                        <a href="#" onclick="toggleVisibility('how-is-this-used');"
                          class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Mapping Lighting, A Swinburne ICT 80003 Professional Project</p>
                </div>
                 <!-- <div>image by <a href="http://www.freeimageslive.co.uk/free_stock_image/streetlampjpg" target="_blank"> freeimageslive.co.uk - SeaquestDS</a></div>
                 image by <a href="http://www.freeimageslive.co.uk/free_stock_image/buchanan-street-central-glasgow-jpg" target="_blank"> freeimageslive.co.uk - photoeverywhere</a> -->
            </div>
        </footer>

    </div>
    <!-- /.container -->
