<%= active_link_to 'Statistics', statistics_path, wrap_tag: :li, :active => :exclusive %>
<%= active_link_to 'Manage Observations', admin_observations_path, wrap_tag: :li, :active => :exclusive %>
<%= active_link_to 'Manage Users', admin_users_path, wrap_tag: :li, :active => :exclusive %>

<li class='menu'>
  <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
</li>
