<li class='menu'>
  <%= link_to 'Statistics', statistics_path %>
</li>
<li class='menu'>
  <%= link_to 'Manage Observations', admin_observations_path %>
</li>

<li class='menu'>
  <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
</li>
